body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:100%;
}

.App > div {
  width: 100%;
}

img {
  transition: 3s;
  height: 100px;
  width: 100px;
}

.App:hover > img {
  transform: rotate(1080deg);
}

/* New Chat styling */
.newChat {
  position: absolute;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 
  "opts"
  "btns";
  height: 225px;
  width: 450px;
  margin: 0 auto;

  box-shadow: 0px 2px 3px 2px #bbb;
  background-color: white;
  margin-top: 30vh;
  border-radius: 10px;
}

.optsContainer {
  display: grid;
  grid-area: opts;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "newChatname newChatname"
  "newChatisPublic newChathasPassword"
  "newChatinvites newChatinvites"
  "newChatblacklist newChatblacklist"
  "newChatpassword newChatpassword";
}

.optsContainer > .name {
  grid-area: newChatname;
}
.optsContainer > .name > input {
  border-radius: 6px;
  border: 1px solid lightgrey;
  height: 20px;
}

.optsContainer > .isPublic {
  grid-area: newChatisPublic;
}
.optsContainer > .isPublic > input {
  border-radius: 6px;
  border: 1px solid lightgrey;
  height: 20px;
}

.optsContainer > .hasPassword {
  grid-area: newChathasPassword;
}
.optsContainer > .hasPassword > input {
  border-radius: 6px;
  border: 1px solid lightgrey;
  height: 20px;
}

.optsContainer > .invites {
  grid-area: newChatinvites;
}
.optsContainer > .invites > input {
  border-radius: 6px;
  border: 1px solid lightgrey;
  height: 20px;
}

.optsContainer > .blacklist {
  grid-area: newChatblacklist;
}
.optsContainer > .blacklist > input {
  border-radius: 6px;
  border: 1px solid lightgrey;
  height: 20px;
}

.optsContainer > .password {
  grid-area: newChatpassword;
}
.optsContainer > .password > input {
  border-radius: 6px;
  border: 1px solid lightgrey;
  height: 20px;
}

.btnContainer {
  background-color: #eee;
  display: flex;
  flex-direction: row-reverse;
  grid-area: btns;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btnContainer > * {
  display: flexbox;
}

.primaryBtn {
  font-size: 10pt;
  margin:15px;
  border-radius: 7px;
  height:40px;
  width: 120px;
  background-color: #5aed5a;
  border: 2px solid #5aed5a;
  color:white;
  font-weight: 550;
  transition-duration: .2s;
  box-shadow: 0px 4px 0px 0px #45d845;
}

.primaryBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px 0px #45d845;
}

.primaryBtn:active {
  transform: translateY(1px);
  box-shadow: 0px 3px 0px 0px #45d845;
}

.secondaryBtn {
  font-size: 10pt;
  margin:15px;
  border-radius: 7px;
  height:40px;
  width: 120px;
  color: #45d845;
  background-color: white;
  border: 2px solid #45d845;
  font-weight: 550;
  transition-duration: .2s;
  box-shadow: 0px 3px 0px 0px #40c940;
}

.secondaryBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 0px 0px #40c940;
}

.secondaryBtn:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 0px 0px #40c940;
}

.tertiaryBtn {
  font-size: 10pt;
  margin:15px;
  border-radius: 7px;
  height:40px;
  width: 120px;
  color:#333;
  background-color: #bbb;
  border: none;
  font-weight: 600;
  transition-duration: .2s;
  box-shadow: 0px 3px 0px 0px #666;
}

.tertiaryBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 0px 0px #666;
}

.tertiaryBtn:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 0px 0px #666;
}